header{
    background-image:url(Group\ 16.png);
    background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;  
}
html{
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;

}
a{
    text-decoration:none;
    
}
p{
    margin: 0;
    padding: 0;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
.container{
    margin:0 8%;
}
nav{
    text-align: right;
    text-decoration: none;
	display: flex;
    justify-content: right;
}
nav>ul{
    text-align: right;
    text-decoration: none;
    font-style: normal;
	display: flex;
	justify-content: space-around;
   
}
nav>ul>a>li{
    text-decoration: none;
    margin: 20px 30px;
    color: #fff;
}
nav>ul>a:hover{
    text-decoration: underline #fff 3px;

}
.logo{
    position: absolute;
    top: 4%;

}
.logo>img{
    width: 200px;

}

.icons-contact{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    float: left;

}
.icons-contact img{
    width: 60px;
}
.header-text1{
    display: flex;
    justify-content: center;
}
.header-text{
    width: 700px;
    text-align: center;
    color: #FFF6E5;
    display: flex;
    justify-content: center;
    margin-top: 13%;
    margin-bottom: 1%;
    font-size: 25px;
    font-weight: 700;
    text-align: center;

}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-call{
    display: flex;
    width: 400px;
	height: 55px;
	background-color: transparent;
	border: 3px solid #D1BD88;
	border-radius: 45px;
	font-style:normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 25px;
	color:#fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
     
}
.button-call a{
    color:#fff;
}
.button-call:hover{
    background-color: #D1BD88;
    color: black;
}

.chess-this{
    background-color: #EBE8E2;
    height: 700px;
}

.chess-this-text1{
    text-align: center;
    padding-top: 7%;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;

}

.chess-this-main{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    height: 250px;
}

.plus-one{
    width: 30%;
    background-image: url(1.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7%;
}
.plus-two{
    width: 30%;
    background-image: url(2.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7%;
}
.plus-three{
    width: 30%;
    background-image: url(3.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7%;
}
.text-block{
    width: 100%;
}
.text-block h2{
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 20px;
}
.text-block p{
    font-weight: 400;
}
.chess-why{
    background-color: #EBE8E2;
}
.why-text1{
    padding-top: 20px;
    margin-bottom: 10%;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}
.why-teacher{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}
.teacher1{
    width: 40%;
    text-align: center;
}
.teacher2{
    width: 40%;
    text-align: center;
}
.teacher1 img{
    width: 70%;
}
.teacher2 img{
    width: 70%;
}
.teacher1 p{
    width: 100%;
}
.teacher2 p{
    width: 100%;
}
.teacher1 h2{
    font-size: 25px;
}
.teacher2 h2{
    font-size: 25px;
}


footer{
    background-color: #303030;
    color: #F2F2F2;
    height: 600px;
}
.footer-main{
    text-align: center;
    padding-top: 50px;
}
.footer-main-text p{
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.main-form{
    font-size: 20px;
    font-weight: 600;
    
}
.main-form p{
    margin: 10px 0;
}
.radio-block{
    
}
.zalupa{
    width: 500px;
    height: 30px;
    background-color: #fff;
    color: black;
    border-radius: 30px;
    padding-top: 1%;
    cursor: pointer;
}
.radio-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radio-block:active .zalupa2{
    display: block;
}
.radio-block:hover .zalupa2{
    display: block;
}

.zalupa2{
    width: 500px;
    height: 30px;
    background-color: #fff;
    color: black;
    display: none;
    margin-top: 5px;
    border-radius: 30px;
    padding-top: 7px;
}
.radio-button{

}
.name-form{

}
.text-button{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #EFEFEF;
}
.number-form{

}
.number-button{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}
.button{

}
.button3{
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: #E1D078;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
@media (max-width:1200px) {
    .container{
        max-width: 970px;
    }
    
}
@media (max-width:992px) {
    .container{
        max-width: 750px;
    }
    
}
@media (max-width:767px) {
    .container{
        max-width: none;
    }
    .logo{
        top: 8%;
    }
    .logo>img{
        width: 100px;
    }
    .header-text{
        margin-top: 50%;
        font-size: 12px;

    }
    .icons-contact {
        display: block;
        margin-top: 20%;
        position: absolute;
        top: 58%;
        right: 27%;
    }
    .button-call{
        width: 300px;
        height: 45px;
        font-size: 13px;
    }
    nav>ul>a>li {
        text-decoration: none;
        margin: 0px 0px;
        padding-top: 18px;
        color: #fff;
    }
    nav>ul {
        text-align: right;
        text-decoration: none;
        font-style: normal;
        display: block;}

    .chess-this-text1 {
            text-align: center;
            padding-top: 7%;
            font-weight: bold;
            font-style: normal;
            font-size: 20px;
        }
        .text-block h2 {
            margin-bottom: 18px;
            font-weight: 900;
            font-size: 10px;
        }
        .text-block p {
            font-weight: 400;
            font-size: 10px;
        }
        .plus-one {
            background-position: top;
            width: 30%;
            background-size: 60px;
        }
        .plus-two {
            background-position: top;
            width: 30%;
            background-size: 60px;
        }
        .plus-three {
            background-position: top;
            width: 30%;
            background-size: 60px;
        }
        .chess-this {
            background-color: #EBE8E2;
            height: 350px;
        }
        .why-text1 {
            padding-top: 5px;
            margin-bottom: 10%;
            text-align: center;
            font-weight: 800;
            font-size: 17px;
        }
        .teacher2 p {
            width: 100%;
            font-size: 10px;
        }
        .teacher1 p {
            width: 100%;
            font-size: 10px;
        }
        .text-button {
            width: 100%;
        }
        .number-button{
            width: 100%;
        }
        .zalupa {
            width: 100%;
        }
        .zalupa2 {
            width: 100%;
        }
        footer {
            background-color: #303030;
            color: #F2F2F2;
            height: 700px;
        }
}
